$font-20:20px;
$font-18:18px;
$font-weight-700:700;
$font-weight-900:900;

$overview-font-size:1.4rem;
$title-font-size:3rem;
$title-font-family:Canva Sans Display,Open Sans,sans-serif;
$body-font-family:Canva Sans Display,Open Sans,sans-serif;
$icon-font:4rem;

$collection-font-size:27px;
$collection-line-height:27px;
$more-link-color:rgba(136, 136, 136, 0.788);

$margin-8: 8px;
$margin-40: 40px;
$margin-20:20px;
$padding-100:100px;

$width-115:115px;
$width-280: 280px;
$height-50:50px;
$height-560:560px;
$height-700:700px;

$percent-100:100%;
$center: center;
