$body-bg: #010f1b;
$navbar-bg:#050c13f1;
$crimson-color:#cf1c43;
$crimson-color-hover:#b11739;
$new-color:#f6f6f6d2;
$white:#fff;
$semi-white:rgb(200, 200, 200);
$overlay-bg: linear-gradient(to right, #010f1b , #010f1bd2 , #010f1b00  );
$overlay-bg-inner:linear-gradient(to right, #010f1b , #010f1be1 ,#010f1b00);
$info-overlay-bg:linear-gradient(to right, rgba(0, 0, 0, 0.835) , rgba(0, 0, 0, 0));
$icon-color:rgba(255, 255, 255, 0.897);