<section class="footer ">
    <div class="row  ">
        <div class="col-md-3 web-info m-auto">
            <ul>
                <li class="list"><a class="link-none" href="#">FAQ</a></li>
                <li><a class="link-none" href="#">investor Relations </a></li>
                <li><a class="link-none" href="#">Privacy</a></li>
                <li><a class="link-none" href="#">Speed Test</a></li>
            </ul>
        </div>
        <div class="col-md-3 web-info m-auto">
            <ul>
                <li class="list"><a class="link-none" href="#">Help Center</a></li>
                <li><a class="link-none" href="#">Jobs</a></li>
                <li><a class="link-none" href="#">Cookie Preferences</a></li>
                <li><a class="link-none" href="#">Legal Notices</a></li>
            </ul>
        </div>
        <div class="col-md-3 web-info m-auto">
            <ul>
                <li class="list"><a class="link-none" href="#">Account</a></li>
                <li><a class="link-none" href="#">Ways to Watch </a></li>
                <li><a class="link-none" href="#">Corporate Information</a></li>
                <li><a class="link-none" href="#">Only on Netflix</a></li>
            </ul>
        </div>
        <div class="col-md-3 web-info m-auto">
            <ul>
                <li class="list"><a class="link-none" href="#">Media Center</a></li>
                <li><a class="link-none" href="#">Terms of Use</a></li>
                <li><a class="link-none" href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</section>
